In [12]:
import pandas as pd
import random

In [8]:
df = pd.DataFrame(
    {
    "A": range(100, 110), 
    "B": range(1000, 1010),
    "C": range(2000, 2010)})

In [20]:
df["A"] = df["A"].apply(lambda x:random.randrange(500, 1000))

In [21]:
df

     A     B     C
0  564  1000  2000
1  812  1001  2001
2  782  1002  2002
3  898  1003  2003
4  940  1004  2004
5  786  1005  2005
6  809  1006  2006
7  933  1007  2007
8  689  1008  2008
9  551  1009  2009